@CHARSET "UTF-8";

body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #eee;
        background-image: url(../images/bc.jpeg);
        background-attachment: scroll; /* fixed for show.jsp */
		background-repeat: no-repeat;

		-moz-background-size: 100%; /* Firefox 3.6+ */
   		-webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    	-o-background-size: 100%; /* Opera 9.6+ */
    	background-size: 100%; /* Современные браузеры */
      }

    
.formCenter {
	
	width: 30%;
	margin:0 auto;
	margin-top:10%;
}

h3 {
	text-align: center;
}